@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 50px;
  }
}

.footer {
  position: fixed;  
  bottom: 0;
  width: 100%;
  background-color: #0A215A;
  color: white;
  text-align: center;
  content:' ';
  max-width:1440px;
  margin:0 auto;
}
